@model PopularProductTagsModel
@using Nop.Web.Models.Catalog;
@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-tags">
        <div class="main-title1">
            <h4>@T("Products.Tags.Popular")</h4>
        </div>
        <div class="listbox">
            <div class="tags">
                <ul class="product-tag-magrin">
                    @foreach (var item in Model.Tags)
                    {
                        <li>
                            <a href="@Url.RouteUrl("ProductsByTag", new {productTagId = item.Id, SeName = item.SeName})" style="font-size: @(Model.GetFontSize(item))%;">
                                @item.Name
                            </a>
                        </li>
                    }
                    @if (Model.TotalTags > Model.Tags.Count)
                    {
                        <li>
                            <div class="view-all">
                                <a href="@Url.RouteUrl("ProductTagsAll")">@T("Products.Tags.Popular.ViewAll")</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </div>
}