@model WishlistModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart
@{
   Layout = "~/Views/Shared/_ColumnsOne.cshtml";

   //title
   Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="page wishlist-page">
   <div class="page-title">
       <h1>
           @if (Model.IsEditable)
           {
               @T("Wishlist")
           }
           else
           {
               @String.Format(T("Wishlist.WishlistOf").Text, Model.CustomerFullname)
           }
       </h1>
   </div>
   <div class="page-body"> 
       @if (Model.Items.Count > 0)
       {
           <div class="wishlist-content">
               @if (Model.Warnings.Count > 0)
               {
               <div class="message-error">
                   <ul>
                       @foreach (var warning in Model.Warnings)
                       {
                           <li>@warning</li>
                       }
                   </ul>
               </div>
               }
               @using (Html.BeginRouteForm("Wishlist", FormMethod.Post))
               {
               <div class="table-wrapper">
                   <table class="cart">
                       <colgroup>
                           @if (Model.IsEditable)
                           {
                               <col width="1" />
                           }
                           @if (Model.DisplayAddToCart)
                           {
                               <col width="1" />
                           }
                           @if (Model.ShowSku)
                           {
                               <col width="1" />
                           }
                           @if (Model.ShowProductImages)
                           {
                               <col width="1" />
                           }
                           <col />
                           <col width="1" />
                           <col width="1" />
                           <col width="1" />
                       </colgroup>
                       <thead>
                           <tr>
                               @if (Model.IsEditable)
                               {
                                   <th class="remove-from-cart">
                                      <i class="im-check30" aria-hidden="true" title="@T("ShoppingCart.Remove")" data-toggle="tooltip"></i>
                                       
                                   </th>
                               }
                               @if (Model.DisplayAddToCart)
                               {
                                   <th class="add-to-cart">
                                      <i class="im-cart" aria-hidden="true" title="@T("ShoppingCart.AddToCart")" data-toggle="tooltip"></i>
                                   </th>
                               }
                               @if (Model.ShowSku)
                               {
                                   <th class="sku">
                                       @T("ShoppingCart.SKU")
                                   </th>
                               }
                               @if (Model.ShowProductImages)
                               {
                                   <th class="product-picture">
                                       @T("ShoppingCart.Image")
                                   </th>
                               }
                               <th class="product">
                                   @T("ShoppingCart.Product(s)")
                               </th>
                               <th class="unit-price text-right">
                                   @T("ShoppingCart.UnitPrice")
                               </th>
                               <th class="quantity text-right">
                                   @T("ShoppingCart.Quantity")
                               </th>
                               <th class="subtotal text-right">
                                   @T("ShoppingCart.ItemTotal")
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           @foreach (var item in Model.Items)
                           {
                               <tr>
                                   @if (Model.IsEditable)
                                   {
                                       <td class="remove-from-cart">
                                           @*<label class="td-title">@T("ShoppingCart.Remove"):</label>*@
                                           <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                                       </td>
                                   }
                                   @if (Model.DisplayAddToCart)
                                   {
                                       <td class="add-to-cart">
                                           @*<label class="td-title">@T("ShoppingCart.AddToCart"):</label>*@
                                           <input type="checkbox" name="addtocart" value="@(item.Id)" />
                                       </td>
                                   }
                                   @if (Model.ShowSku)
                                   {
                                       <td class="sku">
                                           @*<label class="td-title">@T("ShoppingCart.SKU"):</label>*@
                                            <span class="sku-number">@item.Sku</span>
                                       </td>
                                   }
                                   @if (Model.ShowProductImages)
                                   {
                                       <td class="product-picture">
                                           <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                       </td>
                                   }
                                   <td class="product">
                                       <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                       @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                       {
                                           <div class="attributes">
                                               @Html.Raw(item.AttributeInfo)
                                           </div>
                                       }
                                       @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                       {
                                           <div class="recurring-info">
                                               @Html.Raw(item.RecurringInfo)
                                           </div>
                                       }
                                       @if (!String.IsNullOrEmpty(item.RentalInfo))
                                       {
                                           <div class="rental-info">
                                               @Html.Raw(item.RentalInfo)
                                           </div>
                                       }
                                       @if (item.Warnings.Count > 0)
                                       {
                                           <div class="message-error">
                                               <ul>
                                                   @foreach (var warning in item.Warnings)
                                                   {
                                                       <li>@warning</li>
                                                   }
                                               </ul>
                                           </div>
                                       }
                                   </td>
                                   <td class="unit-price text-right">
                                       @*<label class="td-title">@T("ShoppingCart.UnitPrice"):</label>*@
                                       <span class="product-unit-price">@item.UnitPrice</span>
                                   </td>
                                   <td class="quantity text-right">
                                       @*<label class="td-title">@T("ShoppingCart.Quantity"):</label>*@
                                       @if (Model.IsEditable)
                                       {
                                           if (item.AllowedQuantities.Count > 0)
                                           {
                                               <select name="itemquantity@(item.Id)" class="qty-dropdown form-control input-sm min-w80px">
                                                   @foreach (var qty in item.AllowedQuantities)
                                                   {
                                                       <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                   }
                                               </select>
                                           }
                                           else
                                           {
                                               <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input form-control input-sm min-w80px"/>
                                           }
                                       }
                                       else
                                       {
                                            <span class="product-quantity">@item.Quantity</span>
                                       }
                                   </td>
                                   <td class="subtotal text-right">
                                       @*<label class="td-title">@T("ShoppingCart.ItemTotal"):</label>*@
                                       <span class="product-subtotal">@item.SubTotal</span>
                                       @if (!String.IsNullOrEmpty(item.Discount))
                                       {
                                           <div class="discount">
                                               @T("ShoppingCart.ItemYouSave"): @item.Discount
                                           </div>
                                       }
                                   </td>
                               </tr>
                           }
                       </tbody>
                   </table>
                   <br>
               </div>
               if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
               {
               var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
               //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
               //of course, you can modify appropriate locales to include VAT info there
               <div class="tax-shipping-info">
                   @T(inclTax ? "Wishlist.TaxShipping.InclTax" : "Wishlist.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
               </div>
               }
               <div class="buttons text-center">
                   @if (Model.IsEditable)
                   {
                       <button type="submit" name="updatecart" class="btn btn-default" value="updatecart"><i class="glyphicon glyphicon-heart left-caret"></i> @T("Wishlist.UpdateCart")</button>
                   }
                   @if (Model.DisplayAddToCart)
                   {
                       <button type="submit" name="addtocartbutton" class="btn btn-danger" value="addtocartbutton"><i class="glyphicon glyphicon-plus-sign left-caret"></i> @T("ShoppingCart.AddToCart")</button>
                   }
                   @if (Model.IsEditable && Model.EmailWishlistEnabled)
                   {
                       <button type="button" class="btn btn-default" onclick="setLocation('@Url.RouteUrl("EmailWishlist")')"><i class="glyphicon  glyphicon-envelope left-caret"></i> @T("Wishlist.EmailAFriend")</button>
                   }
               </div>
               }
           </div>
           <br>
       }
       else
       {
           <div class="alert alert-warning no-data">
               @T("Wishlist.CartIsEmpty")
           </div>
       }
       @if (Model.IsEditable && Model.Items.Count > 0)
       {
           <div class="share-info text-center">
               <span class="share-label">@T("Wishlist.YourWishlistURL"):</span>
               <a href="@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid })" class="share-link">@Url.RouteUrl("Wishlist", new { customerGuid = Model.CustomerGuid }, "http")</a>
           </div>
       }
   </div>
</div>