@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
<div class="product-item thumb-list clearfix" data-productid="@Model.Id">
    <div class="image_cover">
        <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" class="img-responsive center-block"/>
        </a>
    </div>
    <div class="button-container">
        <div class="button-quickview">
            <a class="btn-quickview btn btn-primary btn-sm" href="@Url.RouteUrl("Product", new {SeName = Model.SeName})" title="VIEW DETAILS">
                <span class="wrap_text"><i class="im im-eye"></i> VIEW DETAILS <span class="bg_tranp"></span> </span>
            </a>
        </div>
    </div>
        <div class="details price-block">
            <div class="product-box-name">
                <h4 class="product-title">
                    <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})">@Model.Name</a>
                </h4>
            </div>
            <div class="product-bottom">
                @if (Model.ReviewOverviewModel.AllowCustomerReviews)
            {
                int ratingPercent = 0;
                if (Model.ReviewOverviewModel.TotalReviews != 0)
                {
                    ratingPercent = ((Model.ReviewOverviewModel.RatingSum * 100) / Model.ReviewOverviewModel.TotalReviews) / 5;
                }
                <div class="product-rating-box" title="@string.Format(T("Reviews.TotalReviews").Text, Model.ReviewOverviewModel.TotalReviews)">
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </div>
                }
                <div class="add-info button-container">
                    @Html.Widget("productbox_addinfo_before", Model.Id)
                    <div class="prices">
                        @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                        {
                            <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                        }
                        <span class="price actual-price">@Model.ProductPrice.Price</span>
                        @if (Model.ProductPrice.DisplayTaxShippingInfo)
                        {
                            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                            //of course, you can modify appropriate locales to include VAT info there
                            <span class="tax-shipping-info">
                                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                    @Html.Widget("productbox_addinfo_middle", Model.Id)
                    <div class="buttons gr_button">
                        @*<input type="button" value="@T("Products.Details")" class="button-1 product-box-detail-button" onclick="setLocation('@Url.RouteUrl("Product", new { SeName = Model.SeName })')" />*@


                        @if (!Model.ProductPrice.DisableWishlistButton)
                        {
                            <a title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title data-original-title="Add to Wishlist" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;">
                                <i class="im im-heart"></i>

                            </a>
                        }
                        @if (!Model.ProductPrice.DisableBuyButton)
                        {
                            var addToCartText = T("ShoppingCart.AddToCart").Text;
                           
                            if (Model.ProductPrice.AvailableForPreOrder)
                            {
                                addToCartText = T("ShoppingCart.PreOrder").Text;
                            }
                            <a class="button-2 product-box-add-to-cart-button btn btn-primary btn-sm" onclick="AjaxCart.AddProductToCart_CatalogPlugin('@addtocartlink');return false;">
                                <i class="im im-cart"></i> <span>@T("Add To Cart")</span>
                            </a>

                        }
                        @if (!Model.ProductPrice.DisableAddToCompareListButton)
                        {
                            <a title="@T("ShoppingCart.AddToCompareList")" class="button-2 add-to-compare-list-button btn btn-primary btn-sm" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;" data-toggle="tooltip" data-placement="top" title data-original-title="Add to Compare"><i class="im im-plus"></i></a>

                        }

                    </div>
                    @Html.Widget("productbox_addinfo_after", Model.Id)
                </div>
            </div>
    </div>
</div>
