
@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model Nop.Plugin.Payments.GQPay.Models.ConfigurationModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Nop.Plugin.Payments.GQPay.CreateProcess")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Partial("~/Plugins/Payments.GQPay/Views/GoQuoPaymentGateWays/_CreateOrUpdate.cshtml", Model)
}