@model OrderModel

<table class="adminContent">
    <tr>
        <td>
            <div id="ordernotes-grid"></div>

          
        </td>
    </tr>
</table>
<p>
    <strong>
        @T("Admin.Orders.OrderNotes.AddTitle")
    </strong>
</p>
<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)").change(toggleAddOrderNoteHasDownload);

        toggleAddOrderNoteHasDownload();
    });

    function toggleAddOrderNoteHasDownload() {
        if ($('#@Html.FieldIdFor(model => model.AddOrderNoteHasDownload)').is(':checked')) {
            $('#pnlAddOrderNoteDownloadId').show();
        }
        else {
            $('#pnlAddOrderNoteDownloadId').hide();
        }
    }

</script>

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.AddOrderNoteMessage):
        </td>
        <td class="adminData">
            @Html.TextAreaFor(model => model.AddOrderNoteMessage, new { style = "Width: 350px; Height: 150px;" })
            @Html.ValidationMessageFor(model => model.AddOrderNoteMessage)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.AddOrderNoteDownloadId):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AddOrderNoteHasDownload) @T("Admin.Orders.OrderNotes.Fields.Download.HasDownload")
            <div id="pnlAddOrderNoteDownloadId">
                @Html.EditorFor(model => model.AddOrderNoteDownloadId)
                @Html.ValidationMessageFor(model => model.AddOrderNoteDownloadId)
            </div>
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.AddOrderNoteDisplayToCustomer):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AddOrderNoteDisplayToCustomer)
            @Html.ValidationMessageFor(model => model.AddOrderNoteDisplayToCustomer)
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <input type="button" id="addOrderNote" class="k-button" value="@T("Admin.Orders.OrderNotes.AddButton")" />
        </td>
    </tr>
</table>


