@using Nop.Web.Framework.UI
@{
    Layout = "~/Themes/LionParcel/Views/Shared/_LayoutHomePage.cshtml";
    Html.AppendScriptParts("~/Plugins/Misc.LionParcel/Content/Scripts/global.script.js");
    Html.AppendScriptParts("https://maps.googleapis.com/maps/api/js?key=AIzaSyClw2iXdT7yWqpFJZrsHHd-OgsruaNLpl4&callback=initialize");
    Html.AppendScriptParts("~/Plugins/Misc.LionParcel/Content/Scripts/jquery.uploadify.min.js");
    Html.AppendScriptParts("~/Plugins/Misc.LionParcel/Content/Scripts/custom_registration.js");
    Html.AppendScriptParts("http://www.lionexpress.co.id/Scripts/custom/bootstrap-datepicker.js");
    Html.AppendScriptParts("http://www.lionexpress.co.id/Scripts/jquery.flexslider.js");
}
<div class="container">
    <div class="col-md-12">
        <div class="lion-parcel-content-render">
            <h2 class="main-title">POINT OF SALES REGISTRATION</h2>
        </div>
    </div>
</div>

@Html.Partial("~/Plugins/Misc.LionParcel/Views/LionParcel/PosRegistration/Line-1.cshtml")

@Html.Partial("~/Plugins/Misc.LionParcel/Views/LionParcel/PosRegistration/Line-2.cshtml")

@Html.Partial("~/Plugins/Misc.LionParcel/Views/LionParcel/PosRegistration/Line-3.cshtml")

@Html.Partial("~/Plugins/Misc.LionParcel/Views/LionParcel/PosRegistration/Company-Attachment.cshtml")

@Html.Partial("~/Plugins/Misc.LionParcel/Views/LionParcel/PosRegistration/Personal-Attachment.cshtml")

<div class="container">
    <div class="row">
        <div class="col-lg-12" id="message-pos" style="display:none;text-align:center;"></div>
        <div class="col-lg-12" id="message-customer" style="display:none;text-align:center;"></div>
    </div>
</div>
